In [1]:
!curl -o numpy100.ipynb https://raw.githubusercontent.com/sumathi16/numpy-100/master/100_Numpy_exercises_no_solution.ipynb

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:01 --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:02 --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:03 --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:04 --:--:--     0
100 34014  100 34014    0     0   6533      0  0:00:05  0:00:05 --:--:--  6533

In [2]:
import pandas as pd

In [3]:
!curl -o sample.csv https://raw.githubusercontent.com/sumathi16/Machine-Learning-March/master/sample.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100   114  100   114    0     0    121      0 --:--:-- --:--:-- --:--:--   121
100   114  100   114    0     0    121      0 --:--:-- --:--:-- --:--:--   121

In [10]:
# how to read data(csv(comma separated values)) using pandas

data = pd.read_csv("sample.csv")
data

              name  salary  year
0      Raj Acharya   45000  2015
1      SaiTeja Ram   78000  2012
2    Hemendra Arya   32000  2018
3  Revanth Sundarm   15000  2019

In [9]:
data = pd.read_csv("sample.csv",header=None)
data

                 0       1     2
0             name  salary  year
1      Raj Acharya   45000  2015
2      SaiTeja Ram   78000  2012
3    Hemendra Arya   32000  2018
4  Revanth Sundarm   15000  2019

In [22]:
data = pd.read_csv("sample.tsv",sep="\t")
data

              name  salary  year
0      Raj Acharya   45000  2015
1      SaiTeja Ram   78000  2012
2    Hemendra Arya   32000  2018
3  Revanth Sundarm   15000  2019

In [12]:
# to read the specific rows:
data = pd.read_csv("sample.tsv",sep="\t",usecols=["name"])
data

              name
0      Raj Acharya
1      SaiTeja Ram
2    Hemendra Arya
3  Revanth Sundarm

In [13]:
data = pd.read_csv("sample.tsv",sep="\t",usecols=["name",
                                                  "year"])
data

              name  year
0      Raj Acharya  2015
1      SaiTeja Ram  2012
2    Hemendra Arya  2018
3  Revanth Sundarm  2019

In [19]:
data = pd.read_csv("sample.tsv",sep="\t",index_col=[1])
data

                   name  year
salary
45000       Raj Acharya  2015
78000       SaiTeja Ram  2012
32000     Hemendra Arya  2018
15000   Revanth Sundarm  2019

In [20]:
data.name

salary
45000        Raj Acharya
78000        SaiTeja Ram
32000      Hemendra Arya
15000    Revanth Sundarm
Name: name, dtype: object

In [23]:
# to get specific column:
#this is series:

data['name']

0        Raj Acharya
1        SaiTeja Ram
2      Hemendra Arya
3    Revanth Sundarm
Name: name, dtype: object

In [25]:
# changing the series to dataframe:

data[['name']]

              name
0      Raj Acharya
1      SaiTeja Ram
2    Hemendra Arya
3  Revanth Sundarm

In [26]:
data[['name','year']]

              name  year
0      Raj Acharya  2015
1      SaiTeja Ram  2012
2    Hemendra Arya  2018
3  Revanth Sundarm  2019

In [27]:
data.shape

(4, 3)

In [29]:
data.shape[0]

4

In [31]:
# to dispaly the specified number of head and tail:

data.head(2)
data.tail(2)

              name  salary  year
2    Hemendra Arya   32000  2018
3  Revanth Sundarm   15000  2019

In [33]:
fdata=pd.read_csv("FL_insurance_sample.csv")
fdata

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,119736,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,0.0,9979.2,0.0,0,30.102261,-81.711777,Residential,Masonry,1
1,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0.0,0.0,0.0,0,30.063936,-81.707664,Residential,Masonry,3
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0.0,0.0,0.0,0,30.089579,-81.700455,Residential,Wood,1
3,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0.0,0.0,0.0,0,30.063236,-81.707703,Residential,Wood,3
4,172534,FL,CLAY COUNTY,0.0,254281.50,0.0,254281.5,254281.50,246144.49,0.0,0.0,0.0,0,30.060614,-81.702675,Residential,Wood,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36629,404309,FL,PINELLAS COUNTY,0.0,88722.00,0.0,88722.0,88722.00,155065.65,0.0,0.0,0.0,0,28.122885,-82.770218,Residential,Wood,3
36630,465875,FL,PINELLAS COUNTY,1297057.5,1297057.50,1297057.5,1297057.5,1297057.50,1577500.79,0.0,0.0,0.0,0,28.080900,-82.758800,Residential,Masonry,1
36631,791209,FL,PINELLAS COUNTY,173286.9,173286.90,0.0,0.0,173286.90,205527.97,0.0,0.0,0.0,0,28.110550,-82.766360,Residential,Wood,4
36632,322627,FL,PINELLAS COUNTY,1499781.6,1499781.60,0.0,0.0,1499781.60,1768782.43,0.0,0.0,0.0,0,28.089415,-82.697411,Residential,Masonry,3
36633,398149,FL,PINELLAS COUNTY,373488.3,373488.30,0.0,0.0,373488.30,596003.67,0.0,0.0,0.0,0,28.064440,-82.774590,Residential,Masonry,1

In [34]:
fdata.shape

(36634, 18)

In [35]:
fdata.head(4)

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,119736,FL,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,0.0,9979.2,0.0,0,30.102261,-81.711777,Residential,Masonry,1
1,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0.0,0.0,0.0,0,30.063936,-81.707664,Residential,Masonry,3
2,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0.0,0.0,0.0,0,30.089579,-81.700455,Residential,Wood,1
3,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0.0,0.0,0.0,0,30.063236,-81.707703,Residential,Wood,3

In [36]:
fdata.tail(3)

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
36631,791209,FL,PINELLAS COUNTY,173286.9,173286.9,0.0,0.0,173286.9,205527.97,0.0,0.0,0.0,0,28.110550,-82.766360,Residential,Wood,4
36632,322627,FL,PINELLAS COUNTY,1499781.6,1499781.6,0.0,0.0,1499781.6,1768782.43,0.0,0.0,0.0,0,28.089415,-82.697411,Residential,Masonry,3
36633,398149,FL,PINELLAS COUNTY,373488.3,373488.3,0.0,0.0,373488.3,596003.67,0.0,0.0,0.0,0,28.064440,-82.774590,Residential,Masonry,1

In [37]:
fdata.sample(4)

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
30184,519304,FL,POLK COUNTY,0.0,1931728.02,0.0,0.0,1931728.02,2435368.15,0.0,0.0,0.0,0,27.883760,-81.842750,Commercial,Reinforced Masonry,1
23799,724563,FL,PALM BEACH COUNTY,0.0,116640.00,0.0,116640.0,116640.00,109000.08,0.0,5832.0,0.0,0,26.661460,-80.152200,Residential,Wood,1
25569,569167,FL,PALM BEACH COUNTY,0.0,13590000.00,0.0,13590000.0,13590000.00,11610000.00,0.0,0.0,0.0,0,26.627500,-80.122450,Commercial,Reinforced Concrete,1
13681,296758,FL,ORANGE COUNTY,156060.0,156060.00,156060.0,156060.0,156060.00,216247.66,0.0,0.0,0.0,0,28.390997,-81.468925,Residential,Wood,1

In [38]:
fdata.sample()

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
6274,106321,FL,WASHINGTON COUNTY,0.0,1985147.72,0.0,0.0,1985147.72,1400291.44,0.0,0.0,0.0,0,30.76456,-85.55799,Commercial,Reinforced Masonry,1

In [45]:
fdata.dtypes

policyID                int64
statecode              object
county                 object
eq_site_limit         float64
hu_site_limit         float64
fl_site_limit         float64
fr_site_limit         float64
tiv_2011              float64
tiv_2012              float64
eq_site_deductible    float64
hu_site_deductible    float64
fl_site_deductible    float64
fr_site_deductible      int64
point_latitude        float64
point_longitude       float64
line                   object
construction           object
point_granularity       int64
dtype: object

In [46]:
type(fdata.dtypes)

pandas.core.series.Series

In [47]:
fdata.columns

Index(['policyID', 'statecode', 'county', 'eq_site_limit', 'hu_site_limit',
       'fl_site_limit', 'fr_site_limit', 'tiv_2011', 'tiv_2012',
       'eq_site_deductible', 'hu_site_deductible', 'fl_site_deductible',
       'fr_site_deductible', 'point_latitude', 'point_longitude', 'line',
       'construction', 'point_granularity'],
      dtype='object')

In [51]:
fdata.dtypes[0],fdata.dtypes['policyID']

(dtype('int64'), dtype('int64'))

In [52]:
fdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36634 entries, 0 to 36633
Data columns (total 18 columns):
policyID              36634 non-null int64
statecode             36634 non-null object
county                36634 non-null object
eq_site_limit         36634 non-null float64
hu_site_limit         36634 non-null float64
fl_site_limit         36634 non-null float64
fr_site_limit         36634 non-null float64
tiv_2011              36634 non-null float64
tiv_2012              36634 non-null float64
eq_site_deductible    36634 non-null float64
hu_site_deductible    36634 non-null float64
fl_site_deductible    36634 non-null float64
fr_site_deductible    36634 non-null int64
point_latitude        36634 non-null float64
point_longitude       36634 non-null float64
line                  36634 non-null object
construction          36634 non-null object
point_granularity     36634 non-null int64
dtypes: float64(11), int64(3), object(4)
memory usage: 5.0+ MB

In [56]:
fdata.dtypes.value_counts()

float64    11
object      4
int64       3
dtype: int64

In [58]:
type(fdata.dtypes.value_counts())

pandas.core.series.Series

In [61]:
fdata.dtypes.value_counts().index

Index([float64, object, int64], dtype='object')

In [64]:
fdata.dtypes.value_counts()[0]

11